/* No Posts Message Styles */
.no-posts-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.no-posts-text {
  font-size: 18px;
  color: var(--primary-color);
  margin-top: 10px;
}
